
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
.vs/MyUniversityProject/DesignTimeBuild/.dtbcache
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
.vs/MyUniversityProject/DesignTimeBuild/.dtbcache
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.pdb
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide-shm
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide-wal
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.pdb
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.dll
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.assets.cache
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.Views.dll
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.pdb
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.dll
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.assets.cache
MyUniversityProject/bin/Debug/netcoreapp2.2/MyUniversityProject.Views.dll
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
