
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
.vs/MyUniversityProject/DesignTimeBuild/.dtbcache
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
.vs/MyUniversityProject/DesignTimeBuild/.dtbcache
.vs/MyUniversityProject/v16/Server/sqlite3/storage.ide
MyUniversityProject/obj/Debug/netcoreapp2.2/MyUniversityProject.csprojAssemblyReference.cache
