@using MyUniversityProject.Models.AuthenticationModel;
@model MyUniversityProject.Models.Employee

@{
    ViewData["Title"] = "MyOffice";
}

<h2 class="text-center"> Employy Information </h2>
<hr>
<div class="row">
    <div class="col-md-7">
        @if (User.IsInRole("SuperUser"))
        {
            @await Html.PartialAsync("_MyOfficeForSuperUser")
        }
        else
        {
            @await Html.PartialAsync("_MyOfficeForAdmin")
        }
    </div>
    <div class="col-md-5">
        @await Html.PartialAsync("_ChangePassword", new ChangePassword())
    </div>
</div>
