@using MyUniversityProject.Models.AuthenticationModel;
@model MyUniversityProject.Models.Employee

@{
    ViewData["Title"] = "MyOffice";
}
<table class="table">
    <tr>
        <th>Change User Information</th>
        <th>Additional Information</th>
    </tr>
    <tr>
        <td>
            @if (User.IsInRole("SuperUser"))
            {
                @await Html.PartialAsync("_MyOfficeForSuperUser")
            }
            else
            {
                @await Html.PartialAsync("_MyOfficeForAdmin")
            }
        </td>
        <td>
            @await Html.PartialAsync("_ChangePassword", new ChangePassword());
        </td>
    </tr>
</table>