body {
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.wrapped-div-1 {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 100%;
    max-width: 550px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
}
.my-margin-for-button{
    margin-right: 10px;
}
.my-btn-color {
    background-color: #8b00ff !important;
    border-color: #8b00ff !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.wrapper-reserv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.wrapped-div-2 {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.iwt {
    display: block;
}